# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = tab
tab_width = 4

[*.md]
# following setting does not work in vscode
trim_trailing_whitespace = false

[{*.yml,*.yaml,*.json}]
indent_style = space
indent_size = 2
