@import "./list.functions";
@import "./theme.functions";

@import "./color-maps/gray-scale.scss";
@import "./color-maps/purple.scss";
@import "./color-maps/blue.scss";
@import "./color-maps/green.scss";
@import "./color-maps/red.scss";

@mixin theme-dark(
	$primary,
	$primary-darker,
	$primary-lighter,
) {
	&.t-dark {
		--primary: #{$primary};
		--primary-dark: #{$primary-darker};
		--primary-light: #{$primary-lighter};
	}

	@media (prefers-color-scheme: dark) {
		--primary: #{$primary};
		--primary-dark: #{$primary-darker};
		--primary-light: #{$primary-lighter};
	}
}

@mixin theme-light(
	$primary,
	$primary-darker,
	$primary-lighter,
) {
	&,
	&.t-light {
		--primary: #{$primary};
		--primary-dark: #{$primary-darker};
		--primary-light: #{$primary-lighter};
	}
}

:root {
	--base-dark: #{get-hsl-string($color-map-gray-scale, 900)};
	--base-light: #{get-hsl-string($color-map-gray-scale, 100)};

	--gray-dark-darker: #{get-hsl-string($color-map-gray-scale, 800)};
	--gray-dark: #{get-hsl-string($color-map-gray-scale, 700)};
	--gray-dark-lighter: #{get-hsl-string($color-map-gray-scale, 600)};

	--gray-light-lighter: #{get-hsl-string($color-map-gray-scale, 400)};
	--gray-light: #{get-hsl-string($color-map-gray-scale, 300)};
	--gray-light-darker: #{get-hsl-string($color-map-gray-scale, 200)};

	transition-property: background, color;
	transition-duration: 350ms;

	&,
	&.t-light {
		--color: var(--base-dark);
		--color-offset-1: var(--gray-dark-darker);
		--color-offset-2: var(--gray-dark);
		--color-offset-3: var(--gray-dark-lighter);

		--bg: var(--base-light);
		--bg-offset-1: var(--gray-light-lighter);
		--bg-offset-2: var(--gray-light);
		--bg-offset-3: var(--gray-light-darker);
	}

	&.t-dark {
		--color: var(--base-light);
		--color-offset-1: var(--gray-light-lighter);
		--color-offset-2: var(--gray-light);
		--color-offset-3: var(--gray-light-darker);

		--bg: var(--base-dark);
		--bg-offset-1: var(--gray-dark-darker);
		--bg-offset-2: var(--gray-dark);
		--bg-offset-3: var(--gray-dark-lighter);
	}

	@media (prefers-color-scheme: dark) {
		--color: var(--base-light);
		--color-offset-1: var(--gray-light-lighter);
		--color-offset-2: var(--gray-light);
		--color-offset-3: var(--gray-light-darker);

		--bg: var(--base-dark);
		--bg-offset-1: var(--gray-dark-darker);
		--bg-offset-2: var(--gray-dark);
		--bg-offset-3: var(--gray-dark-lighter);
	}

	@include theme-dark(
		get-hsl-string($color-map-purple, 300),
		get-hsl-string($color-map-purple, 400),
		get-hsl-string($color-map-purple, 200),
	);

	@include theme-light(
		get-hsl-string($color-map-purple, 600),
		get-hsl-string($color-map-purple, 700),
		get-hsl-string($color-map-purple, 500),
	);
}

.t-blue {
	@include theme-dark(
		get-hsl-string($color-map-blue, 200),
		get-hsl-string($color-map-blue, 300),
		get-hsl-string($color-map-blue, 100),
	);

	@include theme-light(
		get-hsl-string($color-map-blue, 600),
		get-hsl-string($color-map-blue, 700),
		get-hsl-string($color-map-blue, 500),
	);
}

.t-purple {
	@include theme-dark(
		get-hsl-string($color-map-purple, 300),
		get-hsl-string($color-map-purple, 400),
		get-hsl-string($color-map-purple, 200),
	);

	@include theme-light(
		get-hsl-string($color-map-purple, 600),
		get-hsl-string($color-map-purple, 700),
		get-hsl-string($color-map-purple, 500),
	);
}

.t-green {
	@include theme-dark(
		get-hsl-string($color-map-green, 400),
		get-hsl-string($color-map-green, 500),
		get-hsl-string($color-map-green, 300),
	);

	@include theme-light(
		get-hsl-string($color-map-green, 700),
		get-hsl-string($color-map-green, 800),
		get-hsl-string($color-map-green, 600),
	);
}

.t-red {
	@include theme-dark(
		get-hsl-string($color-map-red, 300),
		get-hsl-string($color-map-red, 200),
		get-hsl-string($color-map-red, 100),
	);

	@include theme-light(
		get-hsl-string($color-map-red, 600),
		get-hsl-string($color-map-red, 700),
		get-hsl-string($color-map-red, 500),
	);
}
